body {
  background-color: #f8f5f1;
  font-family: Avenir Next, sans-serif;
  color: #343434;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #4a3933;
  border-width: 6px;
  width: 10%;
}

h1 {
  color: #2a221e;
}

h2 {
  color: #453c38;
}

h3 {
  color: #453c38;
}
